<h2 mat-dialog-title>About</h2>
<mat-dialog-content>
  <p>
    <b>Road network data</b> Source: Digiroad, Finnish Transport Agency. Aineisto
    on ladattu Liikenneviraston Katselu- ja latauspalvelusta 01.06.2015 lisenssilä
    CC 4.0  BY.
  </p>
  <p>
    <b>Map data</b> &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>
    contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,
    Imagery © <a href="https://www.mapbox.com/">Mapbox</a>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="secondary">Close</button>
</mat-dialog-actions>
