<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" role="dialog" mode="over">
    <mat-toolbar color="primary">Settings</mat-toolbar>
    <mat-card class="settings-content">
      <mat-card-content>
        <app-settings></app-settings>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SAMAP</span>
      <span class="content-toolbar-spacer"></span>
      <button type="button" aria-label="Clear map" mat-icon-button (click)="clearMap()">
        <mat-icon>layers_clear</mat-icon>
      </button>
      <button type="button" aria-label="About" mat-icon-button (click)="openAboutDialog()">
        <mat-icon>info</mat-icon>
      </button>
    </mat-toolbar>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>
