<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="dialog" [mode]="over">
    <mat-toolbar color="primary">Settings</mat-toolbar>
    <mat-card class="settings-content">
      <mat-card-content>
        <section>
          <mat-button-toggle-group class="travel-mode-toggle-group settings-item" [value]="currentTravelMode" (change)="changeTravelMode($event.value)">
            <mat-button-toggle class="travel-mode-toggle" value="car">
              <mat-icon>directions_car</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="travel-mode-toggle" value="bike">
              <mat-icon>directions_bike</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle class="travel-mode-toggle" value="walk">
              <mat-icon>directions_walk</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </section>

        <section>
          <mat-form-field class="settings-item">
            <input matInput type="number" min="10" max="120" placeholder="Travel time" [formControl]="travelTimeControl" value="10">
            <span matSuffix>min</span>
            <mat-error *ngIf="travelTimeControl.errors">
              Please enter a value between 10 and 120
            </mat-error>
          </mat-form-field>
        </section>
      </mat-card-content>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>samap-ui</span>
    </mat-toolbar>
    <app-map></app-map>
  </mat-sidenav-content>
</mat-sidenav-container>