@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

/* Cannot style the encapsulated button element
 * of mat-button-toggle diretive in component's
 * style, thus put it in global styles
*/
.travel-mode-toggle > button {
  width: 100%;
}
