.basemap-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.basemap-radio-button {
  margin: 5px;
}

.travel-mode-toggle-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.travel-mode-toggle {
  flex: 1;
}

.settings-item {
  width: 100%;
}
