<section>
  <h3>Basemaps</h3>
  <mat-radio-group class="basemap-radio-group" [value]="currentBasemap" (change)="changeBasemap($event.value)">
    <mat-radio-button class="basemap-radio-button" *ngFor="let basemap of basemaps" [value]="basemap[0]">
      {{basemap[1]}}
    </mat-radio-button>
  </mat-radio-group>
</section>

<section>
  <h3>Travel by</h3>
  <mat-button-toggle-group class="travel-mode-toggle-group settings-item" [value]="currentTravelMode" (change)="changeTravelMode($event.value)">
    <mat-button-toggle class="travel-mode-toggle" value="car">
      <mat-icon>directions_car</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="travel-mode-toggle" value="bike">
      <mat-icon>directions_bike</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="travel-mode-toggle" value="walk">
      <mat-icon>directions_walk</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>

<section>
  <mat-form-field class="settings-item">
    <input matInput type="number" min="10" max="120" placeholder="Travel time" [formControl]="travelTimeControl">
    <span matSuffix>min</span>
    <mat-error *ngIf="travelTimeControl.errors">
      Please enter a value between 10 and 120
    </mat-error>
  </mat-form-field>
</section>

<section>
  <h3>Color</h3>
  <mcc-color-picker
    [selectedColor]="currentColor"
    usedSizeColors="8"
    hideButtons
    hideTransparentUsedColors
    (change)="changeColor($event)"
  ></mcc-color-picker>
</section>
