<h2 mat-dialog-title>Settgings</h2>
<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput type="number" placeholder="Distance (m)" formControlName="distance">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="secondary">Cancel</button>
    <button type="submit" mat-button color="primary" [disabled]="settingsForm.pristine">Save</button>
  </mat-dialog-actions>
</form>
